*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #000;
}
header{
  width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 70px;
  text-shadow: 0.1em 0.1em 0.15em #1100AB;
  color: white;
}
.container{
  height: 1000px;
  position: relative;
  margin: 20px;
  box-shadow:  15px 1px 25px #1100AB;
}
#mosca{
  background-image: url(img/mosca.jpg);
}
#reykjavìk{
  background-image: url(img/reykjavìk.jpg);
}
#seattle{
  background-image: url(img/seattle.jpg);
}
.opaco{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  display: none;
}
h1{
  font-size: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%;
  text-shadow: 0.1em 0.1em 0.15em #1100AB;
  color: white;
}
.container:hover .opaco{
  display: block;
}
